/*Global*/
html{
	font-family: 'Calibri';
	padding-bottom: 5%;
}

/*Bouton*/
a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{
	content: "\25b2";
}
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}
a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}




/*En-tête*/
header{
	width: 100%;
	background-color: white;
	font-family: 'Calibri';
	position: fixed;
	top: 0;
	left: 0;
}




/*Corps*/
/*Le menu entier*/
nav ul{
	width: 200px;
	padding: 5px;
	margin: 5px;
	list-style-type: none;
	background-color: none;
}
/*Les onglets individuellement*/
.menu li{
	list-style-type: none;
	position: relative;
	display: inline-block;
	width: 135px;
	height: 15px;
	margin: 15px;
	padding: 15px;
	text-align: center;
	line-height: 12px;
	background-color: #EB984E;/*fond orange*/
}
/*Texte dans les onglets*/
nav li a{
	display: block;
	text-decoration: none;
	color: #088c09;/*écriture verte*/
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}
.menu a{
	display: block;
	width: 120px;
	height: 30px;
	text-align: center;
}
.menu li:active, .menu li:hover, .menu li:focus, .videos{
	border: 2.5px solid #088C09;
	background-color: #E78024;
	font-weight: bold;
}

h1{
	text-align: center;
	font-size: 175%;
	color: #088C09;
}
h2{
	color: #0BCF0D;
}

/*menu*/
#section1{
	margin-top: 10%;
	position: fixed;
	top: 0;
	left: 0;
}

/*Contenu*/
#section2{
	margin-top: 11%;
	margin-left: 250px;
}

.video1, .video2, .video3, .video4, .video5{
	width: 640px;
	height: 360px;
}
.video1, .video3{
	margin-left: 7%;
}
.video2, .video4{
	margin-left: 6%;
}
.video5{
	margin-left: 30%;
}

/*Couleurs :
vert h1: #088C09
Vert h2: #0BCF0D
*/