/*http://www.wifeo.com/code/31-simple-css-slideshow.html*/

/*Global*/
html{
	font-family: 'Calibri';
	padding-bottom: 2.5%;
}

/*bouton*/
a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{
	content: "\25b2";
}
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}
a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}



/*En-tête*/
header{
	width: 100%;
	background-color: white;
	font-family: 'Calibri';
	position: fixed;
	top: 0;
	left: 0;
}




/*Corps*/
/*Le menu entier*/
nav ul{
	width: 200px;
	padding: 5px;
	margin: 5px;
	list-style-type: none;
	background-color: none;
}
/*Les onglets individuellement*/
.menu li{
	list-style-type: none;
	position: relative;
	display: inline-block;
	width: 135px;
	height: 15px;
	margin: 15px;
	padding: 15px;
	text-align: center;
	line-height: 12px;
	background-color: #EB984E;/*fond orange*/
}
/*Texte dans les onglets*/
nav li a{
	display: block;
	text-decoration: none;
	color: #088c09;/*écriture verte*/
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}
.menu a{
	display: block;
	width: 120px;
	height: 30px;
	text-align: center;
}
.menu li:active, .menu li:hover, .menu li:focus, .danse{
	border: 2.5px solid #088C09;
	background-color: #E78024;
	font-weight: bold;
}

h1{
	text-align: center;
	color: #088C09;
}
h2{
	margin-left: 5%;
	color: #0BCF0D;
}

/*menu*/
#section1{
	margin-top: 10%;
	position: fixed;
	top: 0;
	left: 0;
}

/*Contenu*/
#section2{
	margin-top: 11%;
	margin-left: 250px;
}

.cours{
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	color: #2DF12F;
}

/*Images*/
.image1,.image2,.image3,.image4,.image5,.image6{
	width: 250px;
	height: 375px;
}
.image2,.image3,.image4,.image5,.image6{
	margin-left: 1.2%;
}
/*Diaporama*/
.diapo1{
	position: absolute;
	float: left;
	margin-left: 22%;
}
.diapo2{
	position: absolute;
	float: right;
	margin-right: 32%;
}
.diapo1,.diapo2{
	width: 300px;
	height: 425px;
	overflow: hidden;
	position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9,.slide10,.slide11,.slide12{
	position: absolute;
	width: 300px;
	height: 425px;
}
.slide1{
	left: 0;
}
.slide2{
	left: 300px;
}
.slide3{
	left: 600px;
}
.slide4{
	left: 900px;
}
.slide5{
	left: 1200px;
}
.slide6{
	left: 1500px;
}
.slide7{
	left: 0px;
}
.slide8{
	left: 300px;
}
.slide9{
	left: 600px;
}
.slide10{
	left: 900px;
}
.slide11{
	left: 1200px;
}
.slide12{
	left: 1500px;
}
.slideA,.slideB{
	width: 1500px;
	height: 211px;
	left: 0;
	position: relative;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-name: anim_slide;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-name: anim_slide;
	-ms-animation-duration: 10s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-name: anim_slide;
	animation-duration: 10s;
	animation-iteration-count:infinite;
	animation-name: anim_slide;
}
/*@-webkit-keyframes anim_slide 
{
	0% {left:0px;}
	22% {left:0px;}
	33% {left:-610px;}
	45% {left:-610px;}
	66% {left:-1220px;}
	90% {left:-1220px;}
}*/
@-webkit-keyframes anim_slide{
	0,17% {left:0px;}
	8,25% {left:0px;}
	17% {left: -300px;}
	25% {left: -300px;}
	33% {left: -600px;}
	42% {left: -600px;}
	50% {left: -900px;}
	58% {left: -900px;}
	67% {left: -1200px;}
	75% {left: -1200px;}
	83% {left: -1500px;}
	92% {left: -1500px;}
}
/*@-moz-keyframes anim_slide 
{
	0% {left:0px;}
	22% {left:0px;}
	33% {left:-610px;}
	45% {left:-610px;}
	66% {left:-1220px;}
	90% {left:-1220px;}
}*/
@-moz-keyframes anim_slide{
	0% {left:0px;}
	8% {left:0px;}
	17% {left: -300px;}
	25% {left: -300px;}
	33% {left: -600px;}
	42% {left: -600px;}
	50% {left: -900px;}
	58% {left: -900px;}
	67% {left: -1200px;}
	75% {left: -1200px;}
	83% {left: -1500px;}
	92% {left: -1500px;}
}
/*@-ms-keyframes anim_slide 
{
	0% {left:0px;}
	22% {left:0px;}
	33% {left:-610px;}
	45% {left:-610px;}
	66% {left:-1220px;}
	90% {left:-1220px;}
}*/
@-ms-keyframes anim_slide{
	0% {left:0px;}
	8% {left:0px;}
	17% {left: -300px;}
	25% {left: -300px;}
	33% {left: -600px;}
	42% {left: -600px;}
	50% {left: -900px;}
	58% {left: -900px;}
	67% {left: -1200px;}
	75% {left: -1200px;}
	83% {left: -1500px;}
	92% {left: -1500px;}
}
/*@keyframes anim_slide 
{
	0% {left:0px;}
	22% {left:0px;}
	33% {left:-610px;}
	45% {left:-610px;}
	66% {left:-1220px;}
	90% {left:-1220px;}
}*/
@keyframes anim_slide{
	0% {left:0px;}
	8% {left:0px;}
	17% {left: -300px;}
	25% {left: -300px;}
	33% {left: -600px;}
	42% {left: -600px;}
	50% {left: -900px;}
	58% {left: -900px;}
	67% {left: -1200px;}
	75% {left: -1200px;}
	83% {left: -1500px;}
	92% {left: -1500px;}
}
main{
	margin-bottom: 5%;
}
/*Couleurs :
vert h1: #088C09
Vert h2: #0BCF0D
Vert h3: #2DF12F
*/